@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

.nav-bg {
  background: #f8f8f8;
  -webkit-box-shadow: 0 5px 10px rgba(233, 199, 22, 0.3);
          box-shadow: 0 5px 10px rgba(233, 199, 22, 0.3);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar .nav-link {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9em;
  margin: 0 10px;
  color: #555555;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar .nav-link:hover {
  color: #E9C716;
}

.nav-colored {
  background-color: #000;
}

.nav-transparent {
  background-color: transparent;
}

header {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

header .carousel {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}

header .carousel-item {
  position: relative;
  height: 100vh;
}

header .carousel-item img {
  top: 50%;
  right: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

header .carousel-caption {
  color: #666;
  top: 50%;
  height: auto;
  left: 25%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  text-align: left;
  font-family: 'Montserrat Alternates', sans-serif;
}

header .carousel-caption p {
  max-width: 300px;
}

header .carousel .carousel-control-next-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

header .carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

header .carousel-indicators li {
  background-color: #E9C716;
}

header .course-btn {
  position: absolute;
  top: 60%;
  text-decoration: none;
  border: 2px solid #E9C716;
  background: #E9C716;
  padding: 10px 40px;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .course-btn:hover {
  color: #E9C716;
  background: #fff;
}

#about {
  padding: 100px 0;
  height: 100%;
  position: relative;
}

#about h1 {
  color: #E9C716;
  margin: 0 0 100px;
}

#about .inner-about-column p {
  font-family: 'Montserrat Alternates', sans-serif;
}

#about img {
  width: 100%;
}

#particles-js {
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */