// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap&subset=cyrillic');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  // font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.nav-bg{
  background: #f8f8f8;
  box-shadow: 0 5px 10px rgba(233,199,22, 0.3);
  transition: all .2s;
}
.navbar{
  .nav-link{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    margin: 0 10px;
    color: #555555;
    transition: all .2s;
    &:hover{
      color: #E9C716;
    }
  }
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

header{
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  .carousel{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    &-item{
      position: relative;
      height: 100vh;
      img{
        top: 50%;
        right: 1%;
        transform: translate(-50%,-50%);
        position: absolute;
      }
    }
    &-caption{
      color: #666;
      top: 50%;
      height: auto;
      left: 25%;
      width: max-content;
      transform: translate(-50%,-50%);
      position: absolute;
      text-align: left;
      font-family: 'Montserrat Alternates', sans-serif;
      p{
        max-width: 300px;
      }
    }
    .carousel-control-next-icon{
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    }
    .carousel-control-prev-icon{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
    }
  }
  .carousel-indicators li{
    background-color: #E9C716;
  }
  .course-btn{
    position: absolute;
    top: 65%;
    left: 17%;
    text-decoration: none;
    border: 2px solid #E9C716;
    background: #E9C716;
    padding: 10px 40px;
    color: #fff;
    border-radius: 30px;
    transition: all .2s;
    &:hover{
      color: #E9C716;
      background: #fff;
    }
  }
}

#about{
  padding: 100px 0;
  height: 100%  ;
  position: relative;
  h1{
    color: #E9C716;
    margin: 0 0 100px;
  }
  .inner-about-column{
    p{
      font-family: 'Montserrat Alternates', sans-serif;
    }
  }
  img{
    width: 100%;
  }
}

#particles-js{
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}



#courses{
  padding: 100px 0;
  height: 100vh;
  h1{
    color: #E9C716;
    margin-bottom: 150px
  }
  .courses-inner{
    box-shadow: 0 4px 15px #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 220px;
  }
  
  .course-header{
    position: relative;
    width: 100%;
    content: " ";
    height: 150px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 4px;
    img{
      width: 70%;
      margin-top: -90px;
      position: relative;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.courses-link{
  transition: all .3s;
  a{
    text-decoration: none;
    h5{
      color: rgb(0, 146, 231);
      margin: 15px 0;
    }
    p{
      color: #555555;
      line-height: 20px;
      font-size: 16px;
    }
  }
}
.courses-link:hover{
  transform: scale(1.1);
  
}
.scratch{
  background: radial-gradient(rgb(76, 198, 255), rgb(0, 146, 231));
}
.thunkable{
  background: url('../img/Asset2@2x.png') no-repeat, linear-gradient(45deg,  rgb(207, 241, 9),rgba(53, 230, 9,0.5)) ;
  background-size: cover;
  background-position: center;
}
.web{
  background: radial-gradient(rgb(222, 224, 71), rgb(206, 178, 19));
}

.courses-bottom{
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  background: linear-gradient(45deg, rgb(76, 198, 255), rgb(0, 146, 231));
  width: 80%;
  padding: 8px;
  text-align: center;
  border-radius:  0 0 10px 10px;
}