// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  // font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.nav-bg{
  background: #f8f8f8;
  box-shadow: 0 5px 10px rgba(233,199,22, 0.3);
  transition: all .2s;
}
.navbar{
  .nav-link{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    margin: 0 10px;
    color: #555555;
    transition: all .2s;
    &:hover{
      color: #F3B707;
    }
  }
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

header{
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  .carousel{
    width: 100%;
    &-item{
      position: relative;
      height: 100vh;
      img{
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
      }
    }
    .carousel-control-next-icon{
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    }
    .carousel-control-prev-icon{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='yellow' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
    }
  }
  .carousel-indicators li{
    background-color: #F3B707;
  }
  .course-btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    border: 2px solid #F3B707;
    background: #F3B707;
    padding: 10px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 30px;
    transition: all .2s;
    &:hover{
      color: #F3B707;
      background: #fff;
    }
  }
}

#about{
  padding: 100px 0;
  height: 100%  ;
  position: relative;
  h1{
    color: #F3B707;
    margin: 0 0 100px;
  }
  .inner-about-column{
    p{
      font-family: 'Montserrat Alternates', sans-serif;
    }
  }
  img{
    width: 100%;
  }
}

#particles-js{
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}






#courses{
  padding: 100px 0;
  height: 100%;
  h1{
    color: #F3B707;
    margin-bottom: 150px
  }
  .courses-inner{
    box-shadow: 0 4px 15px #ccc;
    border-radius: 5px;
    padding: 20px;
    min-height: 220px;
  }
  
  .course-header{
    position: relative;
    width: 100%;
    content: " ";
    height: 150px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 4px;
    img{
      width: 70%;
      margin-top: -90px;
      position: relative;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.courses-link{
  transition: all .3s;
  a{
    text-decoration: none;
    h5{
      color: rgb(0, 146, 231);
      margin: 15px 0;
    }
    p{
      color: #555555;
      line-height: 20px;
      font-size: 16px;
    }
  }
}
.courses-link:hover{
  transform: scale(1.1);
  
}
.scratch{
  background: radial-gradient(rgb(76, 198, 255), rgb(0, 146, 231));
}
.thunkable{
  background: url('../img/Asset2@2x.png') no-repeat, linear-gradient(45deg,  rgb(207, 241, 9),rgba(53, 230, 9,0.5)) ;
  background-size: cover;
  background-position: center;
}
.web{
  background: radial-gradient(rgb(222, 224, 71), rgb(206, 178, 19));
}

.courses-bottom{
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  background: linear-gradient(45deg, rgb(76, 198, 255), rgb(0, 146, 231));
  width: 80%;
  padding: 8px;
  text-align: center;
  border-radius:  0 0 10px 10px;
}

#social{
  margin-top: 100px;
  padding: 50px 0;
  text-align: center;
  h1{
    margin: 0 0 60px;
    color: #F3B707;
    // font-family: 'Montserrat Alternates', sans-serif;
  }
  img{
    // filter: grayscale(100%);
    transition: all .3s;
    width: 80%;
    &:hover{
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}

#method{
  margin-top: 100px;
  .inner{
    background: url(../img/method.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 450px;
    background-position: center;
  }
}

#contacts{
  background: linear-gradient(15deg, #F3B707, rgb(240, 110, 59));
  margin-top: 100px;
  padding: 60px 0;
  h1{
    color: #fff;
    margin: 0 0 60px;
  }
  img{
    width: 100%;
    position: relative;
    transition: all .3s;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.scratch-header{
  background: url(../img/scratch_bg.png) no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center 40%;
}
.mobile-header{
  background: url(../img/mobile.svg) no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center 40%;
}
.web-header{
  background: url(../img/web-header.svg) no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center 40%;
}
.pages-nav{
  background: #f8f8f8;
  box-shadow: 0 5px 10px rgba(233,199,22, 0.3);
  transition: all .2s;
}

.page-main{
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
  .colm-2-top{
    p{
      width: 100%;
      color: #000000;
      text-align: center;
      margin: 28px 0px 10px;
    }
  }
  .colm-1{
    ul,ol{
      padding: 0 20px;
      margin: 0 30px;
      li{
        margin: 10px 0;
      }
    }
    
  }
}

.course-image{
  img{
    width: 100%;
  }
}
.side-info{
  margin-top: 30px;
  font-family: 'Caveat', cursive;
  background: #eee;
  padding: 20px;
  p{
    font-size: 1.5rem;
    margin: 4px 0;
  }
}

.youtube-video{
  width: 100%;
}

.footer{
  padding: 50px 0 10px;
  background: #12141a;
  margin-top: 150px;
  img.logo{
    padding: 0 20px;
  }
  img{
    width: 100%;
    padding: 15px;
    transition: all .3s;
    &:hover{
      transform: scale(1.1);
    }
  }
  .border-1{
    position: relative;
  }
  .border-1::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #F3B707;
    top: 0;
    right: 0;
  }
  h4{
    margin-bottom: 50px;
    position: relative;
    color: #eee;
    &::after{
      position: absolute;
      bottom: -20px;
      content: "";
      width: 25%;
      height: 3px;
      background: #F3B707;
      left: 50%;
      transform: translateX(-50%)
    }
  }
  p{
    color: #fff;
    a{
      color: #fff;
      text-decoration: none;
      transition: all .3s;
      &:hover{
        color: #F3B707;
      }
    }
  }
  .social{
    display: flex;
    div{
      width: 25%; 
    }
  }
  h6{
    font-family: "montserrat", 'sans-serif';
    text-align: center;
    img{
      width: 100px;
    }
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape){
  .courses-inner{
    min-height: 300px!important;
  }
}

@media only screen and (max-width: 768px){
  .footer{
    .social{
      margin-top: 10px!important;
    }
  }
  h1{
    font-size: 1.5em;
    margin: 30px 0!important;
  }
  header .course-btn {
    padding: 8px 20px;
    font-size: 12px;
  }
  #about,#courses{
    padding-top: 50px;
    padding-bottom: 0;
  }
  .courses-link{
    margin-top: 120px;
  }
  #method{
    margin: 50px 0;
    .inner{
      height: 200px;
    }
  }
  #social{
    margin: 20px 0;
    padding: 0;
    img{
      padding: 20px;
    }
  }
  #about img{
    width: 70%;
  }
  #about .inner-about-column p {
    font-size: .8em;
  }
  .courses-inner{
    min-height: 300px!important;
  }
  .colm-1{
    p,ul,li{
      font-size: 12px;
    }
    h2{
      font-size:  1.4em;
    }
  }
  .footer{
    img{
      padding: 5px;
    }
    img.logo{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
  #courses .course-header img{
    width: 50%;
  }
}

@media only screen and (max-width: 576px){
  .courses-inner{
    min-height: 100px!important;
  }
  .footer{
    text-align: center;
    .col-md-4{
      margin-left: 0!important;
    }
  }
  h4:after{
    left: 25%!important;
  }
}